* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100%;
}
 
.app__header {
  background-color: white;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  object-fit: contain; /*to keep the logo intact so it will never stretch. */
}

.app__signup {
  display: flex;
  flex-direction: column;
}